### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule KontrolerDomeny ?s=ad
RewriteRule KleintWindows ?s=win
RewriteRule ProfileWędrujące ?s=profil
RewriteRule KlientLinux ?s=linux
RewriteRule NTP ?s=ntp
RewriteRule Autor ?s=autor
RewriteRule KsięgaGości ?s=ksiega
RewriteRule StronaGłówna ?s=czas
